04_Papers Completed/
05_Papers to Read/
02_Matlab (Sims)/
06_Python/
01_Background/
07_Dissertation Paper/Latex Thesis/ZYoas_Example/
**/05_DataOut/
*.bin
*.pdb
*.png
*.mexw64
*.zip
*.pptx
*.docx
*.pdf
*.asv
*.log
*.aux
*.db
*.fls
*.gz
*.lof
*.lot
*.toc
*.bst
*.fdb*
*.bbl
*.bcf
*.blg
*.loa
*.xml
*.json
